html
  head
    meta(name='google-site-verification',content='9gPWkTV7fyW7-ulLUdGfo662FkaveZ_N8DbAWBMQpE4')
    meta(name='google-site-verification',content='p8jfaMU-vQgwAUTt1DjYrADKhj-wkfmBaXCqY7SUzWU')
    title substrait-test
    each script in self.scripts
      script
        !{script}
  body